<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="DomusMe.DomusMe" android:installLocation="auto" android:versionName="1.5" android:versionCode="5">
	<uses-sdk android:minSdkVersion="15" />
	<application android:label="DomusMe" android:theme="@style/MyTheme"></application>
</manifest>